.container{
    min-height:100vh;
    background:#0f172a;
}

.heroSection{
    width:90%;
    margin:auto;
    min-height:calc(100vh - 80px);
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:50px;
}