.footer {
  width: 100%;
  background: #111827;
  color: white;
  display: flex;
  justify-content: space-between;
  gap: 60px;
  padding: 60px 8%;
  flex-wrap: wrap;
}

.left,
.middle,
.right {
  flex: 1;
  min-width: 250px;
}

.left h1,
.middle h1,
.right h1 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #ff6b00;
  position: relative;
}

.left h1::after,
.middle h1::after,
.right h1::after {
  content: "";
  width: 50px;
  height: 3px;
  background: #ff6b00;
  position: absolute;
  left: 0;
  bottom: -8px;
  border-radius: 5px;
}

.left p {
  margin-top: 25px;
  color: #d1d5db;
  line-height: 1.8;
  font-size: 16px;
  text-align: justify;
}

.middle ul,
.right ul {
  list-style: none;
  margin-top: 25px;
  padding: 0;
}

.middle ul li,
.right ul li {
  margin-bottom: 15px;
  color: #d1d5db;
  cursor: pointer;
  transition: 0.3s;
  font-size: 16px;
}

.middle ul li:hover,
.right ul li:hover {
  color: #ff6b00;
  transform: translateX(8px);
}

.footer::before {
  content: "";
  position: absolute;
}

.footer {
  border-top: 3px solid #ff6b00;
}

/* Responsive */

@media (max-width: 992px) {
  .footer {
    gap: 40px;
  }
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    text-align: center;
    padding: 40px 6%;
  }

  .left h1::after,
  .middle h1::after,
  .right h1::after {
    left: 50%;
    transform: translateX(-50%);
  }

  .left p {
    text-align: center;
  }

  .middle ul li:hover,
  .right ul li:hover {
    transform: none;
  }
}